
## üöÄ **1. ≈Åadowanie danych**

Wczytaj dane z pliku CSV i wy≈õwietl kilka pierwszych wierszy oraz og√≥lne informacje o danych.

> **üìå Podpowied≈∫:**  
> `pd.read_csv('data/loans.csv')`, `.head()`, `.info()`

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.decomposition import PCA

df = pd.read_csv('data/loans.csv')

print(df.info())
display(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB
None

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0


# üîç **Eksploracyjna Analiza Danych (EDA)**

## 2. Statystyki opisowe danych numerycznych

Wy≈õwietl podstawowe statystyki opisowe dla danych numerycznych (≈õrednia, min, max, kwartyle).

> **üìå Podpowied≈∫:**  
> `.describe()`

In [4]:
display(df.describe())

,id,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status
count,58645.000000,58645.000000,5.864500e+04,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000,58645.000000
mean,29322.000000,27.550857,6.404617e+04,4.701015,9217.556518,10.677874,0.159238,5.813556,0.142382
std,16929.497605,6.033216,3.793111e+04,3.959784,5563.807384,3.034697,0.091692,4.029196,0.349445
min,0.000000,20.000000,4.200000e+03,0.000000,500.000000,5.420000,0.000000,2.000000,0.000000
25%,14661.000000,23.000000,4.200000e+04,2.000000,5000.000000,7.880000,0.090000,3.000000,0.000000
50%,29322.000000,26.000000,5.800000e+04,4.000000,8000.000000,10.750000,0.140000,4.000000,0.000000
75%,43983.000000,30.000000,7.560000e+04,7.000000,12000.000000,12.990000,0.210000,8.000000,0.000000
max,58644.000000,123.000000,1.900000e+06,123.000000,35000.000000,23.220000,0.830000,30.000000,1.000000

In [ ]:
print("\nIlo≈õƒá brak√≥w w poszczeg√≥lnych kolumnach:")
print(df.isnull().sum())

Ilo≈õƒá brak√≥w w poszczeg√≥lnych kolumnach:
id                            0
person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
loan_status                   0
dtype: int64

In [8]:
print("\nRozk≈Çad zmiennej docelowej (target 0-nie przyznany 1-przyznany):")
print(df['loan_status'].value_counts())

Rozk≈Çad zmiennej docelowej (target 0-nie przyznany 1-przyznany):
loan_status
0    50295
1     8350
Name: count, dtype: int64

## üìà **Wizualizacja zmiennych numerycznych**

Dla ka≈ºdej zmiennej numerycznej wykonaj histogramy, aby zobaczyƒá rozk≈Çady danych.

> **üìå Podpowied≈∫:**  
> `sns.histplot()`

In [ ]:
all_fetures = [col for col in df.columns]
num_cols = [col for col in all_fetures if df[col].dtype != 'object' ]

## üìä **Analiza zmiennych kategorycznych**

Przeanalizuj czƒôsto≈õci wystƒôpowania poszczeg√≥lnych kategorii. Zr√≥b wykresy s≈Çupkowe dla ka≈ºdej cechy kategorycznej.

> **üìå Podpowied≈∫:**  
> `sns.countplot()`

## üîç **Identyfikacja warto≈õci odstajƒÖcych**

Dla ka≈ºdej zmiennej numerycznej stw√≥rz wykres pude≈Çkowy (boxplot), aby zidentyfikowaƒá potencjalne warto≈õci odstajƒÖce.

> **üìå Podpowied≈∫:**  
> `sns.boxplot()`



# üßπ **Czyszczenie danych**

Usu≈Ñ warto≈õci odstajƒÖce za pomocƒÖ metody IQR (Interquartile Range).

> **üìå Podpowied≈∫:**  
> Policzyƒá IQR i odfiltrowaƒá warto≈õci spoza przedzia≈Çu `(Q1 - 1.5*IQR, Q3 + 1.5*IQR)`

---

## ‚öôÔ∏è **Przygotowanie danych**

Oddziel zmiennƒÖ docelowƒÖ od predyktor√≥w. Nastƒôpnie podziel dane na zbi√≥r treningowy i testowy.

> **üìå Podpowied≈∫:**  
> `train_test_split()`

## üîß **Przekszta≈Çcenia danych (preprocessing)**

Utw√≥rz pipeline, w kt√≥rym:

- **zmienne numeryczne** sƒÖ skalowane (np. StandardScaler),
- **zmienne kategoryczne** sƒÖ kodowane (np. OneHotEncoder).

> **üìå Podpowied≈∫:**  
> `ColumnTransformer` i `Pipeline`

## ‚öñÔ∏è **(Opcjonalnie) Balansowanie klas**

Sprawd≈∫ balans klas w zmiennej docelowej.  
Je≈õli sƒÖ niezbalansowane, zastosuj technikƒô oversamplingu (np. SMOTE).

> **üìå Podpowied≈∫:**  
> `SMOTE()` z biblioteki `imblearn`

# üß† **Modelowanie**

Stw√≥rz i wytrenuj modele klasyfikacyjne:

- **Decision Tree**
- **Random Forest**
- **SVM**

Dla ka≈ºdego modelu ustaw wstƒôpne hiperparametry.

## üîé **Optymalizacja hiperparametr√≥w**

Dla ka≈ºdego z modeli zastosuj `GridSearchCV`, aby znale≈∫ƒá optymalne parametry.

> **üìå Podpowied≈∫:**  
> Ustaw `cv=5`, u≈ºyj metryki oceny np. `"accuracy"` lub `"f1"`

# ‚úÖ **Ewaluacja modeli**

Oce≈Ñ modele u≈ºywajƒÖc:

- Dok≈Çadno≈õƒá (**accuracy**)
- **F1-score**
- **ROC-AUC**
- Macierz b≈Çƒôd√≥w (**confusion matrix**)
- Raport klasyfikacji (**classification report**)

Dla ka≈ºdego modelu wy≈õwietl wyniki i stw√≥rz krzywƒÖ ROC.

## üìâ **Analiza wa≈ºno≈õci cech (dla Random Forest)**

Wy≈õwietl najwa≈ºniejsze cechy (feature importances), kt√≥re wp≈ÇywajƒÖ na wynik modelu.


# ü•á **Podsumowanie i por√≥wnanie modeli**

Na podstawie uzyskanych wynik√≥w wybierz najlepszy model spo≈õr√≥d przetestowanych i uzasadnij sw√≥j wyb√≥r.

## üìù **Zapis wynik√≥w**

Stw√≥rz s≈Çownik, kt√≥ry bƒôdzie zawiera≈Ç najlepsze wyniki ka≈ºdego modelu (accuracy, F1, ROC-AUC, najlepsze parametry).